*{

	margin: 0;
	padding: 0;


}

.main-nav
{  
    float: center;
    list-style: none;
    text-align: center;
    padding: 280px;

   font-family: "Calibri", Times, serif;
   font-weight: bold;

   

}
h1{
	 color: 	#008000;
	}
header  {

	background-color: #C0C0C0;
	height: 100vh;
	background-size: cover;
	background-position: center;

}
.MyButton {
width: 200px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 100%;
background: #008000;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;

}

.MyButton:hover {
color: #fff;

border: 1px solid #fff;
}