*{

	margin: 0;
	padding: 0;


}

.main-nav
{  
	margin-left: 350px;
    float: left;
    list-style: none;
    text-align: left;
    padding: 300px;
   font-family: "Calibri", Times, serif;
   font-weight: bold;
   

}

.main-nav li a
{


	color: white;
	text-decoration: none;
	font-size: 30px;
	border: 2px solid #fff;
	padding: 5px 6px;
	text-transform: none;
	transition: 0.6s ease;
    
}
.main-nav li a:hover
{
	background-color: #fff;
	color: #000;
}

.main-nav2
{  
    float: right;
    list-style: none;
    
    padding: 30px;
   font-family: "Calibri", Times, serif;
   font-weight: bold;
   

}
.main-nav2 li
{

	 display: inline-block;
}


.main-nav2 li a
{

   
	color: white;
	text-decoration: none;
	font-size: 20px;
	
	padding: 5px 6px;
	text-transform: none;
	transition: 0.6s ease;
    
}
.main-nav2 li a:hover
{
	background-color: #fff;
	color: #000;
}



